img {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
}

/* TABLET SIZE */
@media (min-width: 576px) {
  img {
    width: 80%;
    padding: 3rem 0;
  }
}
/* LARGE TABLET/DESKTOP SIZE */
@media (min-width: 768px) {
  img {
    width: 60%;
    padding: 4rem 0;
  }
}
