header > h1 {
  padding: 2rem 1rem 0 1rem;
  font-family: 'Kooka-Regular';
  color: var(--lime);
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 0;
}

p {
  color: white;
  margin-bottom: 0 !important;
}
