h2 {
  color: var(--lilac);
  font-family: Arial, Helvetica, sans-serif;
}

.accordion {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  border: 20px solid var(--lime);
  border-radius: 20px;
}

.accordion-body {
  background-color: var(--lime);
  color: black;
}

.accordion-button {
  background-color: var(--lilac) !important;
  color: black !important;
  font-weight: bold;
}

li {
  list-style: none;
}
