@font-face {
  src: local('Kooka-Regular'), url(fonts/Kooka-Regular.ttf), format('ttf');
  font-family: 'Kooka-Regular';
}

:root {
  /* root colors, these are all of the flowers in the canva logo i made */
  --dark-green: #5b846d;
  --orange: #ef7525;
  --lilac: #cb6ce6;
  --red: #ef1963;
  --purple: #8c52ff;
  --blue: #80bef8;
  --lime: #c9e265;
  --yellow: #ffde59;
}

.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
